@import blackboard.umls.UMLSKSource
@(ks: UMLSKSource)

@views.html.ui.main("UMLS Knowledge Source"){
<div class="container-fluid" style="margin-top:10px;">
  <div class="jumbotron">
    <h1 class="display-4">UMLS (@ks.ksp.getVersion)</h1>
    <p class="lead">This is <a href="#" data-toggle="modal"
                               data-target="#umls-sources-modal">UMLS</a>
      knowledge source.
  </div>
  <div class="row">
    <div class="col-3"></div>
    <div class="col">
      <div class="input-group">
        <span class="input-group-btn">  
          <button id="search-clear"
                  class="btn btn-default" type="button">Clear</button>
        </span>
        <input id="search-input" type="text" class="form-control"
               placeholder="Search for concepts...">
        <span class="input-group-btn">
          <button id="search-concept"
                  class="btn btn-default" type="button">Search</button>
        </span>
      </div><!-- /input-group -->
    </div>
    <div class="col-3"></div>
  </div> <!-- row -->
  <br>
  <div class="row">
    <div class="col">
      <table id="output-table" class="table" data-page-length="10" width="100%">
        <thead>
          <tr>
            <th>Score</th>
            <th>CUI</th>
            <th>Type</th>
            <th>Source</th>
            <th>Name</th>
            <th>Definition</th>
          </tr>
        </thead>
      </table>
    </div>
    @**    
    <div class="col-md-6">
      <pre id="search-output" class="pre-scrollable"
           style="overflow-y:auto;"></pre>
    </div>
    **@
  </div> <!-- row -->
</div>

<div class="modal fade" id="umls-sources-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">UMLS Sources</h5>        
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col">
          <pre id="umls-sources" class="pre-scrollable"></pre>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="umls-concept-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="concept-title"></h5>        
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col">
          <pre id="concept-body" class="pre-scrollable"></pre>
        </div>
      </div>
    </div>
  </div>
</div>

}{
<script src="@controllers.umls.routes.Controller.jsRoutes" type="text/javascript"></script>
}{
    var table;

    function createOutputTable () {
        var term = $('#search-input').val();
    if (term == '') {
        term = '_';
    }
        var route = umlsRoutes.controllers
            .umls.Controller.apiFindConcepts(term, 0, 20);

        return $('#output-table').DataTable({
            ajax: {
                // empty search to setup an empty table
                url: route.url,
                dataSrc: ''
            },
            dom: 'pit',
            destroy: true,
            searching: false,
            order: [[0,'desc']],
            columnDefs: [{
                targets: 0,
                width: "5%",
                render: function(data,type,full,meta) {
                    return full.score? full.score.toFixed(2): '';
                }
            },{
                targets: 1,
                render: function(data,type,full,meta) {
            var route = umlsRoutes.controllers
            .umls.Controller.cui(data);
                    return '<a href="'+route.url
            +'" id="concept-"'+data+'" data-cui="'+data+'">'
            +data+'</a>';
                }
            },{
                targets: 2, // semanticTypes
                render: function(data,type,full,meta) {
                    return data.map(d => d.name).join('<br>');
                }
            },{
                targets: 5,
                width: "50%",
                render: function(data,type,full,meta) {
                    return data.map(d=>'<b>['+d.source+']</b>&nbsp;'
                                    +d.description).join('<br>');
                }
            }],
            columns: [
                {},
                { data: 'concept.cui' },
                { data: 'concept.semanticTypes'},
                { data: 'concept.source.name' },
                { data: 'concept.name' },
                { data: 'concept.definitions'}
            ]
        });
    }

    function search () {
        var term = $('#search-input').val();
        if (term == '') {
        }
        else {
            console.log('searching for "'+term+'"');
            $('#search-concept')
                .html('Loading...<i class="fa fa-spinner fa-spin"></i>');
            var route = umlsRoutes.controllers
                .umls.Controller.apiFindConcepts(term, 0, 20);

        if (!table)
        table = createOutputTable ();

            table.ajax.url(route.url).load(function () {
                $('#search-concept').html('Search');
            });
        }
    }
    
    $(document).ready(function () {
        $('#search-concept').on('click', function () {
            search ();
        });
        
        $('#search-clear').on('click', function () {
            $('#search-input').val('');
        });
        
        $('#search-input').keypress(function (ev) {
            var keycode = (ev.keyCode ? ev.keyCode : ev.which);
            if (keycode == '13') { // enter pressed
                search ();
            }
        });

        $.ajax({
            url: '@controllers.umls.routes.Controller.apiDatasources',
            dataType: 'text',
            success: function (d) {
                $('#umls-sources').html(d);
            }
        });

        
        /*
         * after the table is rendered, we iterate through each row
         * and listen to click on each a and intercept it by ajaxing
         * to get the content of the modal based on the cui clicked.
         */
        $('#output-table').on('draw.dt', function() {
        /*
            $('a[id|=concept-]').on('click', function () {
                var cui = $(this).data('cui');
                var route = umlsRoutes.controllers
                    .umls.Controller.apiConcept('cui', cui);
                $.ajax({
                    url: route.url,
                    dataType: 'text',
                    success: function (data) {
                        $('#concept-title').html(cui);
                        $('#concept-body').html(data);
                    }
                }).done(function (d) {
                    console.log(cui+' loaded!');
                });
            });
        */
        });
        
        $('#umls-concept-modal').on('show.bs.modal', function () {
        });     

    window.addEventListener("pageshow", function(e) {
            search ();
    });
    });
}
