@import blackboard.ct.ClinicalTrialDb

@(ctdb: ClinicalTrialDb)

@views.html.core.main("ClinicalTrials module"){
<div class="container-fluid" style="margin-top:10px;">
  <div class="jumbotron">
    <h1 class="display-4">Clinical Trials</h1>
    <p class="lead">This is the clinical trials knowledge source. Currently,
      this knowledge source
      contains <b>@ctdb.getClinicalTrialCount</b> clinical 
      trials, <b>@ctdb.getConditionCount</b> conditions, and
      <b>@ctdb.getInterventionCount</b> interventions. Conditions and
      interventions have been mapped
    to <b>@ctdb.getCount("mesh")</b> <a href="@controllers.mesh.routes.Controller.index">MeSH</a>
        and <b>@ctdb.getCount("concept")</b> <a href="@controllers.umls.routes.Controller.index">UMLS</a>
        concepts. @if(ctdb.getLastUpdate == null){
         Your database <code>@ctdb.getDbFile.getName</code> has not been initialized; please initialize your database below.
        } else {
        Your database was last updated on <i>@ctdb.getLastUpdate</i>.
        }
  </div>
  @if(ctdb.getLastUpdate == null){
  <div class="row">
    <div class="col-md-6">
      <label for="interv-file"><h4>Please specify intervention mapping file</h4></label>
      <div class="input-group">
        <input type="file" class="form-control" id="interv-file"
               placeholder="Intervention mapping from gsrs"
               aria-describedby="interv-label">
      </div>
      <br>
      <button id="load-btn" type="submit" class="btn btn-primary">Initialize</button>
    </div>
  </div> <!-- row -->
  } else {
  <div class="row">
    <div class="col-3"></div>
    <div class="col">
      <div class="input-group">
        <span class="input-group-btn">  
          <button id="search-clear"
                  class="btn btn-default" type="button">Clear</button>
        </span>
        <input id="search-input" type="text" class="form-control"
               placeholder="Search mapped clinical trials...">
        <span class="input-group-btn">
        <button id="search-concept"
                class="btn btn-default" type="button">Search</button>
        </span>
      </div><!-- /input-group -->
    </div>
    <div class="col-3"></div>
  </div> <!-- row -->
  }
</div>
}(HtmlFormat.empty){
    $(document).ready(function () {
        $('#load-btn').on('click', function () {
            var form = new FormData();
            var interv = $('#interv-file').val();
            if (interv == '') {
               alert ('No intervention file specified!');
               return;
            }
            $.each($('#interv-file')[0].files, function(i,file) {
               form.append('interv', file);
            });
            $('#load-btn').
                html('Loading...<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>');
            $.ajax({
                url: '@controllers.ct.routes.Controller.initialize',
                data: form,
                contentType: false,
                processData: false,
                method: 'POST',
                success: function (d) {
                    console.log('=> '+d);
                    $('#load-btn').html('Done!');
                    $('#load-btn').prop("disabled", true);
                }
            });
        });
    });
}
