@import blackboard.ct.ClinicalTrialDb

@(ctdb: ClinicalTrialDb)

@views.html.core.main("ClinicalTrials module"){
<div class="container-fluid" style="margin-top:10px;">
  <div class="jumbotron">
    <h1 class="display-4">Clinical Trials</h1>
    <p class="lead">This is the clinical trials module. Currently,
      this module contains <b>@ctdb.getClinicalTrialCount</b> clinical
      trials, <b>@ctdb.getConditionCount</b> conditions, and
      <b>@ctdb.getInterventionCount</b> interventions. Conditions and
      interventions have been mapped
      based on <a href="@controllers.mesh.routes.Controller.index">MeSH</a>
      and <a href="@controllers.umls.routes.Controller.index">UMLS</a>
      concepts.
  </div>
  <div class="row">
  </div> <!-- row -->
</div>
}(HtmlFormat.empty)(HtmlFormat.empty)
