
@(title: String)(body: Html)(head: Html)(scripts: Html)

<!DOCTYPE html>

<html>
  <head>
    <title>@title</title>
    <link rel='stylesheet' href='@controllers.core.routes.Assets.versioned("lib/font-awesome/css/font-awesome.min.css")'>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href='@controllers.core.routes.CustomAssets.versioned("stylesheets/select.dataTables.min.css")'>
    @head
  </head>
  <body>
    @body
  </body>
  
  <head>
    <script type='text/javascript' src='@controllers.core.routes.Assets.versioned("lib/jquery/jquery.min.js")'></script>    
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>     
    <script type='text/javascript' src='@controllers.core.routes.CustomAssets.versioned("javascripts/dataTables.select.min.js")'></script>
    <script type='text/javascript' src='@controllers.core.routes.CustomAssets.versioned("javascripts/cytoscape.min.js")'></script>
    <script src="https://unpkg.com/popper.js@@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
  </head>
</html>

<script>
  @scripts
  
  $(document).ready(function() {
     $('body').bootstrapMaterialDesign();
  });
</script>
