@import play.twirl.api.HtmlFormat
@import _root_.blackboard.semmed.SemMedDbKSource
@import _root_.blackboard.semmed.Predication
@import _root_.blackboard.pubmed.PubMedDoc
@import _root_.blackboard.pubmed.index.PubMedIndex._
@import _root_.blackboard.utils.Util
@import org.apache.commons.lang3.text.WordUtils

@(controller: _root_.blackboard.pubmed.controllers.Controller,
  result: SearchResult, doc: PubMedDoc)

@jstree(name: String, prefix: String) = {
  @defining(result.getFacet("@tr"+prefix)){ tr =>
    @if(tr != null) {
      @facettreecard(name, tr.getValuesWithPrefix(prefix), prefix)
    }
  }
  }
  
@facet_mesh_trees() = {
    @jstree("Disorder", "C")
    @jstree("Chemical", "D")
    @jstree("Phenomena", "G")
    @jstree("Anatomy", "A")
    @jstree("Analytical", "E")
}

@views.html.ui.main(doc.getPMID+": "+doc.getTitle){
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light"
       style="z-index:9999">
    <a class="navbar-brand" href="https://ncats.nih.gov">
      <img src="/assets/images/ncats-logo.png" height="65%" width="65%"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="@_root_.blackboard.controllers.routes.KnowledgeApp.index">Home</a>
          </li>
          @if(controller.getQueryString("q") != null
            || controller.getQueryString("facet") != null){
            <li class="nav-item">
              <a class="nav-link" href="@controller.req.path"
                 onclick='showloader()'>Clear</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" onclick="showloader()"
                 href="@Util.getURL(_root_.blackboard.controllers.routes.KnowledgeApp.ksearch(controller.getQueryString("q")), controller.req)">publications (<span id="pub-count">...</span>)</a>
            </li>
            }
        </ul>
        <form id="search-form" class="form-inline my-2 my-lg-0"
              action="@_root_.blackboard.controllers.routes.KnowledgeApp.ksearch(null)"
              method="GET">
          <input class="form-control mr-sm-2" type="search" name="q"
                 placeholder="ENTER SEARCH TERMS..."
                 aria-label="Search concepts" style="width:20em">
          <button class="btn btn-primary my-2 my-sm-0"
                  type="submit" style="border-radius:3rem">Search</button>
        </form>
      </div>
  </nav>
  <div class="container-fluid" style="margin-top:60px;margin-bottom:10px;">
    <div id="content-panel" class="loader loader-default"></div>    
    <div class="row">
      @if(result != null){
        <div class="col-md-3">
          @facet_mesh_trees()
        </div>
        <div class="col-md-6">
          @articlemain(controller, doc)
        </div>
        <div class="col-md-3">
          <div class="card" style="margin-top:10px;">
            <div class="card-header" style="padding-bottom:0px">
              <div class="alert alert-success" role="alert">
                Related Articles
              </div>
            </div>
          </div>
          <div class="card" style="margin-top:10px;">
            <div class="card-header" style="padding-bottom:0px">
              <div class="alert alert-success" role="alert">
                Related Concepts
              </div>
            </div>
          </div>
        </div>
        }else{
        <div class="col-md-12">
          @articlemain(controller, doc)
        </div>        
        }
    </div>
  </div>
}{
  <script src="@_root_.blackboard.pubmed.controllers.routes.Controller.jsRoutes" type="text/javascript"></script>
  <script src='@controllers.routes.Assets.versioned("javascripts/treefacets.js")' type="text/javascript"></script>  
}{
    $(document).ready(function () {
        //window.addEventListener('unload', hideloader);
        window.addEventListener('pageshow', hideloader);
  
      setupTreeFacets ();
      $('#search-form').on('submit', function(e) {
          showloader();
      });

      var route = pubmedRoutes.blackboard.pubmed
            .controllers.Controller.field(@doc.pmid, 'references');
      $.ajax({
          url: route.url,
          success: function (data) {
              console.log('===> '+route.url+' ' + data);
              for (var id in data) {
                  console.log(id+': '+data[id]);
                  $('a[data-pmid='+id+']').html(data[id]);
              }
          },
          error: function () {
              console.log('====> '+route.url+' failed!');
          }
      });
      
      @if(controller.getQueryString("q") != null
          || controller.getQueryString("facet") != null){      
          var params = new URLSearchParams(window.location.search);
          const query = params.get('q');
          const facets = params.getAll('facet');
          params = new URLSearchParams ();
          for (var i in facets) {
              params.append('facet', facets[i]);
          }
          params.set('path', '/total');

          @** might be better off using scala template for this? **@
          route = pubmedRoutes.blackboard.pubmed
              .controllers.Controller.search(query);
          var url = route.url;
          var pos = url.indexOf('/null');
          if (pos > 0) {
              url = url.substring(0, pos);
          }
          url += '?'+params.toString();
          console.log("========> "+url);
          $.ajax({
              url: url,
              success: function(data) {
                  console.log('***** '+url+' '+data);
                  $('#pub-count').html(''+data);
              },
              error: function() {
                  console.log('***** '+url+' failed!');
              }
          }).done(function () {
          });
      }
      
      var tr;
      @for(tr <- doc.getTreeNumbers){
          tr = $.jstree.reference('#tr-@tr.charAt(0)');
          if (tr != null) {
              tr.show_icons();
          }
      }
  });
}
