@import play.twirl.api.HtmlFormat
@import blackboard.semmed.SemMedDbKSource
@import blackboard.semmed.Predication
@import blackboard.umls.Concept
@(ks: SemMedDbKSource, cui: String, preds: Array[Predication])

@tabdata(index: Int, cui: String, p: Predication) = {
    var @{cui}@index = [
        @for(e <- p.evidence) {
            {'pmid': @e.pmid, 'text': "@e.context"},
        }
    ];
}

@predcard(index: Int, concept: Concept, p: Predication) = {
<div class="card">
    @if(concept != null) {
    <div class="card-header">
      <h5><a href="@controllers.semmed.routes.Controller.cui(concept.cui)"><i class="fa fa-search"></i></a>
             @views.html.umls.displayconcept(concept,ks.umls)
      @if(!concept.semanticTypes.isEmpty){      
      <span class="pull-right"><small>
       @for(st <- concept.semanticTypes) {
          <span class="badge badge-pill badge-secondary">@st.name</span>
        }
        </small></span>
      }
      </h5>
      @if(!concept.definitions.isEmpty) {
         <p>@HtmlFormat.raw(concept.definitions.get(0).description)</p>
      }
    </div>
    <div class="card-body">
      <table id="table-@{concept.cui}@index" class="table"
             data-page-length="5" width="100%">
      </table>
    </div>
    <div class="card-footer">
      @vote(p)   
      @defining(ks.umls.getConcept(cui)){ sub =>
         @if(cui.equals(p.subcui)){
          <i>@sub.name</i> <b>@p.predicate</b> <a href="@controllers.semmed.routes.Controller.cui(concept.cui)">@concept.name</a>
          }else{
         <a href="@controllers.semmed.routes.Controller.cui(concept.cui)">@concept.name</a> <b>@p.predicate</b> <i>@sub.name</i>
         }
      }
    </div>
    }
</div>
}

@views.html.ui.main("SemMedDb: "+cui){
@navbar()
<div class="container-fluid" style="margin-top:60px;">
   @defining(ks.umls.getConcept(cui)) { concept =>
     @views.html.umls.jumbotron(concept, ks.umls){
    <p class="lead">@preds.length concept(s) related
    to <i><b>@concept.name</b></i>
    }
  }
  @for(i <- 0 until preds.length) {
    @defining(ks.umls.getConcept(preds(i).getOtherCUI(cui))) { concept =>
      @predcard(i, concept, preds(i))
      <br>
    }
  }
</div>
}{
<script src="@controllers.semmed.routes.Controller.jsRoutes" type="text/javascript"></script>    
}{ 
    @for(i <- 0 until preds.length) {
        @defining(ks.umls.getConcept(preds(i).getOtherCUI(cui))) { concept =>
           @if(concept != null) { @tabdata(i, concept.cui, preds(i)) }
        }
    }
   
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $("table[id|='table']").each(function (index, value) {
            var cui = value.id.substring(6);
            //console.log('creating table '+cui);
            var data = eval(cui);
            var tab = $(this).DataTable({
                order: [[1, 'desc']],
                dom: '<"pull-left"f>pit',
                data: data,
                columnDefs: [{
                    targets: 0,
                    orderable: false,
                    render: function (data, type, full, meta) {
                        return '<span class="__dimensions_badge_embed__" '
                            +'data-pmid="'+data
                            +'" data-style="small_rectangle"></span>';
                    }
                },{
                    targets: 1,
                    render: function (data, type, full, meta) {
                        var routes = semmedRoutes.controllers
                            .semmed.Controller.pmid(data);
                        return '<a href="'+routes.url+'">'+data+'</a>';
                    }
                },{
                    targets: 2,
                    orderable: false
                }],
                columns: [
                    {title: 'Citation', data: 'pmid'},
                    {title: 'PMID', data: 'pmid'},
                    {title: 'Evidence', data: 'text'}
                ]
            });
            
            tab.on('draw.dt', function () {
                window.__dimensions_embed.addBadges();
            });
        });
        window.__dimensions_embed.addBadges();
    });
}
