@import blackboard.semmed.SemMedDbKSource
@import blackboard.semmed.SemanticType
@import blackboard.semmed.Predication
@import blackboard.umls.Concept

@(ks: SemMedDbKSource, cui: String, semtype: SemanticType,
  preds: Array[Predication])

@tabdata(cui: String, p: Predication) = {
    var @cui = [
        @for(e <- p.evidence) {
            {'pmid': @e.pmid, 'text': "@e.context"},
        }
    ];
}

@predcard(concept: Concept, p: Predication) = {
<div class="card">
    @if(concept != null) {
    <h5 class="card-header">@views.html.umls.displayconcept(concept,ks.umls)</h5>
    <div class="card-body">
      <table id="table-@concept.cui" class="table"
             data-page-length="5" width="100%">
      </table>
    </div>
    <div class="card-footer">
      <span class="badge badge-pill badge-warning">@p.predicate</span>
    </div>
    }
</div>
}

@views.html.core.main("SemMedDb: "+cui){
<div class="container-fluid" style="margin-top:10px;">
  <div class="jumbotron">
    @defining(ks.umls.getConcept(cui)) { concept =>
    <h1 class="display-4">@views.html.umls.displayconcept(concept,ks.umls)</h1>
    <p class="lead">@preds.length concept(s) related to
    <i>@views.html.umls.displayconcept(concept,ks.umls)</i> by
    topic <i>@semtype.name</i> (<code>@semtype.abbr</code>).
    }
  </div>
  @for(p <- preds) {
     @defining(ks.umls.getConcept(p.getOther(cui))) { concept =>
       @predcard(concept, p)
       <br>
     }
  }
</div>
}(HtmlFormat.empty){
    @for(p <- preds) {
        @defining(ks.umls.getConcept(p.getOther(cui))) { concept =>
           @if(concept != null) { @tabdata(concept.cui, p) }
        }
    }
    
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();    
        $('table[id|="table"]').each(function (index, value) {
            var cui = value.id.substring(6);
            var data = eval(cui);
            var tab = $(this).DataTable({
                order: [[1, 'desc']],
                dom: '<"pull-left"f>pit',
                data: data,
                columnDefs: [{
                    targets: 0,
                    orderable: false,
                    render: function (data, type, full, meta) {
                        return '<span class="__dimensions_badge_embed__" '
                            +'data-pmid="'+data
                            +'" data-style="small_rectangle"></span>';
                    }
                },{
                    targets: 1,
                    render: function (data, type, full, meta) {
                        return '<a href="https://www.ncbi.nlm.nih.gov/pubmed/'
                            +data+'">'+data+'</a>';
                    }
                },{
                    targets: 2,
                    orderable: false
                }],
                columns: [
                    {title: 'Citation', data: 'pmid'},
                    {title: 'PMID', data: 'pmid'},
                    {title: 'Evidence', data: 'text'}
                ]
            });
            tab.on('draw.dt', function () {
                window.__dimensions_embed.addBadges();
            });
        });
        window.__dimensions_embed.addBadges();                          
    });
}

