@import play.twirl.api.HtmlFormat
@import _root_.blackboard.index.pubmed.PubMedIndex.MatchedDoc
@import _root_.blackboard.pubmed.controllers.routes
@(doc: MatchedDoc)
<div class="card" style="margin-top: 10px;">
  <div class="card-header">
    <table>
      <th>
        <td style="padding: 10px">
          <span class="__dimensions_badge_embed__"
                data-pmid="@doc.pmid" data-style="small_circle"></span>
        </td>
        <td>
          <h5><a href="@routes.Controller.article(doc.pmid)">
            @defining(doc.getMatchedFragment("title")){ mf =>
              @if(mf != null){
                @HtmlFormat.raw(mf.fragment)
              }else{
                @doc.title
              }
            }
          </a></h5>
        </td>
    </table>
  </div>
  <div class="card-body collapse show" id="text-@doc.pmid">
    @if(doc.fragments.size == 1){
      @defining(doc.fragments(0)){ mf =>
        @if(mf.field != null){
          <span class="badge badge-pill badge-light">@mf.field</span>
        }
        @HtmlFormat.raw(mf.fragment)
      }
      }else{
      @defining(doc.getBestMatchedFragment()){ mf =>
        @if(mf != null) {
          @if(mf.field != null){
            <span class="badge badge-pill badge-light">@mf.field</span>
          }
          @HtmlFormat.raw(mf.fragment)
        } else {
          @for(a <- doc.abstracts){
            <p>@a</p>
          }
        }
      }
      }
  </div>
  <div class="card-footer">
    <span class="badge badge-pill badge-info">@doc.year</span>
    <a href="href="https://www.ncbi.nlm.nih.gov/pubmed/@doc.pmid">
      <span class="badge badge-pill badge-primary">@doc.pmid
        <i class="fa fa-external-link"></i></span></a>
    <span class="float-right font-italic">@doc.journal</span>
  </div>
</div>
