@import _root_.blackboard.index.Index._
@import _root_.blackboard.pubmed.controllers.Controller
@import _root_.blackboard.utils.Util
@import _root_.blackboard.controllers.KnowledgeApp
@(app: Controller, name: String, facet: Facet,
  expanded: Boolean = true, max: Int = 10)

@display(text: String, min: Integer) = {
  @if(text.length() > min){
    <span data-toggle="tooltip"
          title="@text" style="margin-right:0.5rem">
      @text.substring(0,min)...</span>
  }else{
    @text
  }
}

@filteritem(fv: FV) = {
   @defining(Util.sha1(facet.name, fv.label).substring(0,5)){ id =>
     <li class="list-group-item d-flex justify-content-between align-items-center"
         style="padding-bottom:0px; border-bottom:0px;margin-right:0.5rem">
         <div class="form-check form-check-inline"
                 style="margin-right:0.5rem">
             <input class="facet-item form-check-input position-static"
                    type="checkbox"
                    @if(app.isFacetSelected(facet, fv)){
                    checked="true"
                    }
                    id='@id' value="@fv.label"
                    aria-label="@fv.name" onclick="filterToggle(this)" 
                    style="margin-right:0.5rem">
             <label class="form-check-label" for="@id"
                    style="margin-right:0.5rem">@display(fv.name,20)</label>
             <script>
                filters['@id'] = {
                checked:  @app.isFacetSelected(facet, fv),
                   name: '@facet.name',
                  value: '@fv.label'
                };
             </script>
          </div>
          <span class="badge badge-primary badge-pill">@fv.count</span>
     </li>
   }
}

@if(facet != null){
  @defining(name.replaceAll("_"," ")){ display =>        
  <div class="card" style="margin-top:10px;">
    <div class="card-header" style="padding-bottom:0px">
      <div class="alert alert-info" role="alert">
        <a href="#" class="alert-link"
           data-toggle="collapse" data-target='#facet-@name'>@display</a>
      </div>
    </div>
    <div class="collapse @if(expanded){show}"
         id="facet-@name" aria-expanded="@expanded">
      <ul class="list-group list-group-flush">
        @defining(Math.min(max, facet.values.length)){ size =>
          @for(i <- 0 until size){
            @filteritem(facet.values(i))
          }
        }
      </ul> <!-- list-group -->
    </div>
  </div>
  }
}

