@import play.twirl.api.HtmlFormat
@import _root_.blackboard.index.pubmed.PubMedIndex._
@import _root_.blackboard.controllers.routes
@import _root_.blackboard.controllers.KnowledgeApp
@(app: KnowledgeApp, page: Integer, pages: Array[Int],
       calls: Map[Integer, Call], result: SearchResult, refs: SearchResult)

@paging() = {
  @if(pages.length > 0) {
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      @for(i <- pages) {
        @if(i == 0) {
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">
              <span><i class="fa fa-ellipsis-h"></i></span>
            </a>
          </li>
        }else{
          @if(i == page) {
            <li class="page-item active">
              <a class="page-link" tabindex="-1" href="#">@i
                <span class="sr-only">(current)</span></a></li>
          }else{
            <li class="page-item">
              <a class="page-link" href="@calls(i).url">@i</a></li>
          }
        }
      }
    </ul>
  </nav>
  }
}

@views.html.ui.main("NCATS Knowledge: "+result.query.getQuery){
  <script>
  var filters = {}
  </script>
  
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://ncats.nih.gov">
      <img src='@controllers.routes.Assets.versioned("images/ncats-logo.png")'
           height="65%" width="65%">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarTogglerMenu"
            aria-controls="navbarTogglerMenu"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerMenu">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="@routes.KnowledgeApp.index">Home</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" method="GET"
            action="@routes.KnowledgeApp.search(null)">
        <input class="form-control mr-sm-2" type="search" name="q"
               placeholder="Enter search terms..." style="width:20em">
        <button class="btn btn-primary my-2 my-sm-0"
                type="submit" style="border-radius:3rem">Search</button>
      </form>
    </div>
  </nav>  
  <div class="container-fluid" style="margin-top: 55px; margin-bottom:10px;">
    <div class="row">
      <div class="col-md-3">
        @** FILTERS **@
        @facetcard(app, "Year_Published", result.getFacet("@year"))
        @facetcard(app, "Author", result.getFacet("@author"))
        @facetcard(app, "Article_Type", result.getFacet("@pubtype"))
        @facetcard(app, "Journal", result.getFacet("@journal"))
        @facetcard(app, "Keyword", result.getFacet("@keyword"))
        @facetcard(app, "Concept", result.getFacet("@cui"))
      </div>
      <div class="col-md-6">
        @** SEARCH CONTENTS **@
        @for(d <- result.docs) {
          @articlecard(d)
          }
          <div class="alert fade show" role="alert">
            @paging()
          </div>
      </div>
      <div class="col-md-3">
        @** CONTEXT **@
        @contextcard(result.query){
          @result.total documents matched
        }
        @if(refs != null && refs.size > 0){
          @refcard(refs)
        }
      </div>
    </div>
  </div>
}(HtmlFormat.empty){

  var urlParams = new URLSearchParams (window.location.search);  
  $(document).ready(function() {
      console.log('@HtmlFormat.raw(request.uri)');
      /*
      $('.facet-item').each(function () {
          console.log($(this).attr('id')+' '+$(this).attr('value')+' '+$(this).is(':checked'));
      });
      */
      for(var id in filters) {
         var f = filters[id];
         if (f.checked) {
            console.log(id+'='+f.name+'/'+f.value+' ');
         }
      }
  });
  
  function filterToggle (el) {    
      console.log(location.href+' '+el.id+' '+el.value+' '+el.checked);
      filters[el.id].checked = el.checked;
      applyFilter ();
  }

  function applyFilter () {
      var facet = '';
      for(var id in filters) {
         var f = filters[id];
         if (f.checked) {
            if (facet.length > 0)
               facet += '&';
            facet += 'facet='+f.name+'/'+f.value;
         }
      }
      var url = '@HtmlFormat.raw(app.uri("facet"))';
      if (facet.length > 0) {
         url += url.indexOf('?') < 0 ? '?' : '&';
         url += facet;
      }
      console.log('=====> '+url);
      $.ajax({
         'url': url,
         success: function () {
            window.location.href = url;
         }
      }).done(function () {
         
      });
  }
}
