@import play.twirl.api.HtmlFormat

@(curPage: Integer, numPages: Integer, rowsPerPage: Integer)

@filteritem(id: String, count: Integer)(content: Html) = {
<li class="list-group-item d-flex justify-content-between align-items-center">
  <div class="form-check form-check-inline">
    <input class="form-check-input position-static" type="checkbox"
           id="@id" value="item1" aria-label="item1">
    <label class="form-check-label" for="@id">@content</label>
  </div>
  <span class="badge badge-primary badge-pill">@count</span>
</li>
}

@filtercard(name: String, expanded: Boolean = true)(facets: Html) = {
@defining(name.replaceAll("\\s","-")){ id =>
<div class="card" style="margin-top:10px;">
  <div class="card-header">
    <div class="alert alert-dark" role="alert">
      <a href="#" class="alert-link"
         data-toggle="collapse" data-target='#@id'>@name</a>
    </div>
  </div>
  <div class="collapse @if(expanded){show}"
       id="@id" aria-expanded="@expanded">
    <ul class="list-group list-group-flush">
      @facets
    </ul> <!-- list-group -->
    <a href="#" class="btn btn-primary">More</a>
  </div>
</div>
}
}


@celllinecard(expanded: Boolean = true) = {
   @filtercard("Cell Line", expanded){
      @filteritem("A11.251.210.190.400", 290){<a href="#">HeLa Cells</a>}
      @filteritem("A11.251.210.190.475", 195){<a href="#">HT29 Cells</a>}
      @filteritem("A11.251.210.190.495", 175){<a href="#">Jurkat Cells</a>}
      @filteritem("A11.251.210.190.160", 132){<a href="#">Caco-2 Cells</a>}
      @filteritem("A11.251.210.190.880", 93){<a href="#">U937 Cells</a>}
      @filteritem("A11.251.210.190.630", 52){<a href="#">MCF-7 Cells</a>}
      @filteritem("A11.251.210.200", 35){<a href="#">CHO Cells</a>}
      @filteritem("A11.251.210.100", 20){<a href="#">3T3 Cells</a>}
   }
}

@diseasecard(expanded: Boolean = true) = {
  @filtercard("Disease", expanded){
     @filteritem("C04", 217){<a href="#">Neoplasms</a>}  
     @filteritem("C10", 102){<a href="#">Nervous System Diseases</a>}
     @filteritem("C14", 101){<a href="#">Cardiovascular Diseases</a>}
     @filteritem("C20", 93){<a href="#">Immune System Disease</a>}
     @filteritem("C01", 84){<a href="#">Bacterial Infections and Mycoses</a>}
     @filteritem("C02", 73){<a href="#">Virus Diseases</a>}
     @filteritem("C03", 67){<a href="#">Parasitic Diseases</a>}
     @filteritem("C11", 45){<a href="#">Eye Diseases</a>}
  }
}

@tissuecard(expanded: Boolean = true) = {
  @filtercard("Tissue", expanded){
     @filteritem("A10.165", 53){<a href="#">Connective Tissue</a>}
     @filteritem("A10.272", 47){<a href="#">Epithelium</a>}
     @filteritem("A10.755", 41){<a href="#">Nerve Tissue</a>}
     @filteritem("A10.549", 33){<a href="#">Lymphoid Tissue</a>}
     @filteritem("A10.615", 29){<a href="#">Membranes</a>}
     @filteritem("A10.336", 17){<a href="#">Exocrine Glands</a>}
     @filteritem("A10.802", 9){<a href="#">Organoids</a>}
  }
}

@geneticcard(expanded: Boolean = true) = {
  @filtercard("Genetic Phenomena", expanded){
     @filteritem("G05.200", 32){<a href="#">DNA Damage</a>}
     @filteritem("G05.219", 29){<a href="#">DNA Repair</a>}
     @filteritem("G05.193", 25){<a href="#">DNA Cleavage</a>}
     @filteritem("G05.226", 19){<a href="#">DNA Replication</a>}
     @filteritem("G05.206", 14){<a href="#">DNA Methylation</a>}
     @filteritem("G05.755", 11){<a href="#">RNA Cleavage</a>}
     @filteritem("G05.558", 8){<a href="#">Mutagensis</a>}
  }
}

@map4dsmallmolecule(expanded: Boolean = true) = {
  @filtercard("4D Map", expanded){
     <li class="list-group-item"><a href="#">Lead Identification</a>
        <li class="list-group-item" style="margin-left:10px">
           <a href="#">Assay Development</a></li>
        <li class="list-group-item" style="margin-left:10px">
           <a href="#">HTS Assay</a></li>
        <li class="list-group-item" style="margin-left:10px">
           <a href="#">Cheminformatics</a></li>
     </li>
     <li class="list-group-item"><a href="#">Lead Optimization</a>
        <li class="list-group-item" style="margin-left:10px">
            <a href="#">In silico Modeling</a></li>
          <li class="list-group-item" style="margin-left:10px">
              <a href="#">Medicinal Chemistry</a></li>
          <li class="list-group-item" style="margin-left:10px">
              <a href="#">ADME/Tox</a></li>
     </li>
  }
}

@translator(expanded: Boolean = true) = {
  @filtercard("Biomedical Translator", expanded){
     <li class="list-group-item"><a href="#">Knowledge Graph</a></li>
     <li class="list-group-item"><a href="#">Knowledge Summarization</a></li>
     <li class="list-group-item"><a href="#">Knowledge Source</a></li>
  }
}

@preclinicaltools(expanded: Boolean = true) = {
  @filtercard("Preclinical Tools", expanded){
     <li class="list-group-item"><a href="#">R-group Analysis</a></li>
     <li class="list-group-item"><a href="#">Target Predictor</a></li>
     <li class="list-group-item"><a href="#">ADME/Tox Properties</a></li>
  }
}

@clinicaltools(expanded: Boolean = true) = {
  @filtercard("Clinical Tools", expanded){
     <li class="list-group-item"><a href="#">Phenotype Analysis</a></li>
  }
}

@views.html.ui.main("PubMed Search Results"){
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="https://ncats.nih.gov">
     <img src='@controllers.routes.Assets.versioned("images/ncats-logo.png")'
          height="65%" width="65%">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
           role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
           Persona
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Clinician</a>
          <a class="dropdown-item" href="#">Patient</a>
          <a class="dropdown-item" href="#">Researcher</a>
          <a class="dropdown-item" href="#">Administrator</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search"
             placeholder="Search" style="width:200px">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>  
<div class="container-fluid" style="margin-top: 55px; margin-bottom:10px;">
  <div class="row">
    <div class="col-md-3">
      @diseasecard()
      @tissuecard()
      @celllinecard()
      @geneticcard()
    </div>
    <div class="col-md-6">
      <div class="alert alert-warning alert-dismissible fade show"
           role="alert" style="margin-top:10px">
        Search terms: <h5><span class="badge badge-pill badge-light"><strong>cancer inhibitors</strong></span></h5>
        <button type="button" class="close"
                data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    @searchcontent()
    </div>
    <div class="col-md-3">
    @map4dsmallmolecule()
    @translator()
    @preclinicaltools()
    @clinicaltools()
    </div>
  </div>
</div>
}{
<style>
  .list-group-item :first-child {
     margin-right: .5rem;
  }
  .list-group-item {
     padding: 0.5rem;
  }
</style>
}(HtmlFormat.empty)
