/*html, body {
    margin-top: 10px;
}*/

.bbpanel {
    height: 330px;
}

.bbgraph {
    height: 100%;
}

.bbquery {
    height: 630px;
    overflow-y: auto;
}

#kgraph {
  width: 100%;
  height: 600px;
  display: block;
}