
@(title: String)(body: Html)(head: Html)(scripts: Html)

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@title</title>
    <link rel='stylesheet' href='@controllers.ui.routes.Assets.versioned("lib/font-awesome/css/font-awesome.min.css")'>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href='@controllers.ui.routes.LocalAssets.versioned("stylesheets/select.dataTables.min.css")'>
    <link rel="stylesheet" href='@controllers.ui.routes.LocalAssets.versioned("stylesheets/simple-sidebar.css")'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.8/themes/default/style.min.css" />    
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    
    @head
  </head>
  <body>
    @body
  </body>
  
  <head>
    <script type='text/javascript' src='@controllers.ui.routes.Assets.versioned("lib/jquery/jquery.min.js")'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.8/jstree.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>     
    <script type='text/javascript' src='@controllers.ui.routes.LocalAssets.versioned("javascripts/dataTables.select.min.js")'></script>
    <script src="https://unpkg.com/popper.js@@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
  </head>
</html>

<script>
  @scripts
  $(document).ready(function() {
     $('body').bootstrapMaterialDesign();
  });
</script>
