<div>
  <table id="kg-table" class="table" data-page-length="5" width="100%">
    <thead>
      <tr>
	<th></th>
	<th>Id</th>
	<th>Name</th>
	<th>Node</th>
	<th>Edge</th>
      </tr>
    </thead>
  </table>
  <div class="row pull-right" style="margin-right:10px;">
    <p><a class="btn btn-primary" href="#new" data-toggle="tooltip"
	  title="Create new query">New</a>
@**      <a class="btn btn-info" href="#view" data-toggle="tooltip"
	 title="View selected knowledge graph">View</a>**@
      <a class="btn btn-danger" href="#delete" data-toggle="tooltip"
	 title="Delete selected knowledge graph">Delete</a>
  </div>
</div>
