$(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
    console.log("i'm ready!");
    
    var dt = $('#kg-table').on('select.dt', function (e, dt, type, indexes) {
	if (type === 'row') {
	    var rows = dt.rows(indexes).data();
	    console.log('rows selected: '+rows[0].id);
	}
    });
    
    $('#kg-table').DataTable({
	dom: 'pit',
	order: [[1,'desc']],
	select: true,
	rowId: 'id',
	ajax: {
	    url: '@controllers.api.routes.BlackboardSystem.listKG',
	    dataSrc: ''
	},
	columnDefs: [{
	    orderable: false,
	    className: 'select-checkbox',
	    targets: 0,
	    data: null,
	    defaultContent: ''
	},{
	    targets: 2,
	    render: function (data, type, full, meta) {
		var url = '@controllers.routes.BlackboardApp.kgraph("")'+full.id;
		return '<a href="'+url+'">'+data+'</a>';
	    }
	}],
	columns: [
	    null,
	    { data: 'id' },
	    { data: 'name' },
	    { data: 'nodeCount' },
	    { data: 'edgeCount'}
	],
	select: {
	    style: 'single',
	    selector: 'td:first-child'
	}
    });
    
    websocket('#kgraph','ws://localhost:9000'+'@controllers.routes.BlackboardApp.console(5379)');
});
