
@views.html.ui.main("A Simple Blackboard Demo"){
<div class="container-fluid" style="margin-top:10px;">
  <div class="jumbotron">
    <h1 class="display-4">A simple blackboard</h1>
    <p class="lead">This is a simple application created to illustrate basic
      concepts of a <a href="https://en.wikipedia.org/wiki/Blackboard_system">blackboard architecture</a> for
      <a href="https://ncats.nih.gov/translator">translator</a>.
      To begin, click on <a href="#" data-toggle="modal"
                data-target="#new-modal">New</a> to
      create a new query or explore an existing knowledge graph in
      the table below.
  </div>
  <div class="row">
    <div class="col-md-12">
      <div>
    <table id="kg-table" class="table" data-page-length="5" width="100%">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Id</th>
          <th>Created</th>
          <th>Name</th>
          <th>Node</th>
          <th>Edge</th>
        </tr>
      </thead>
    </table>
    <div class="row pull-right" style="margin-right:10px;">
      <p><button type="button" class="btn btn-primary"
             data-toggle="modal" data-target="#new-modal">
          <span title="Create new query"
            data-toggle="tooltip">New</span></button>
        <button type="button" class="btn btn-danger" data-toggle="modal"
            data-target="#delete-modal">
          <span data-toggle="tooltip"
            title="Delete selected knowledge graph">Delete</span>
        </button>
    </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Warning: <span id="warning-mesg"></span></h5>
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"
        data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger"
        id="delete-btn">Delete</button> 
      </div>
    </div>
  </div>
</div>
    
<div class="modal fade" id="new-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Query</h5>        
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"></span>       
          <input type="text" class="form-control" id="query-title"
             placeholder="Enter query title"
             aria-describedby="basic-addon1">
        </div>
        <p>
          <div class="input-group">
        <span class="input-group-addon" id="basic-addon2"></span>
        <input type="text" class="form-control" id="query-term"
               placeholder="Enter query term"
               aria-describedby="basic-addon2">
        </div>
      </div>
    </div>
      </div>
      <div class="modal-footer">
    <span class="pull-left" id="create-span" style="color:red;"></span>  
        <button type="button" class="btn btn-default"
        data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary"
        id="create-btn">Create</button>
      </div>
    </div>
  </div>
</div>
}{
<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/blackboard.css")'>
<script type='text/javascript' src='@routes.Assets.versioned("javascripts/blackboard.js")'></script>
}{
$(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
    $('#delete-modal').on('show.bs.modal', function () {
        console.log('row='+$('#delete-btn').data('row'));
    });
    $('#delete-btn').on('click', function () {
        var url = '@controllers.api.kg.routes.BlackboardSystem.removeKG(0)';
        url = url.replace('/0', '/'+$(this).data('row'));
        console.log('executing '+url);
        $.ajax({
            method: 'DELETE',
            url: url,
            success: function () {
                $('#delete-modal').modal('hide');
                window.location.reload();
            }
        });
    });
    
    $('#create-btn').on('click', function () {
        var title = $('#query-title').val();
        var term = $('#query-term').val();
        if (title === '') {
            $('#create-span').html("<em>Title can't be empty!</em>");
            setTimeout (function () {
                $('#create-span').html("");
            }, 3000);
        }
        else if (term === '') {
            $('#create-span').html("<em>Term can't be empty!</em>");
            setTimeout (function () {
                $('#create-span').html("");
            }, 3000);
        }
        else {
            var q = {
                '@@type': 'query',
                'name': title,
                'term': term
            };
            $.ajax({
                url: '@controllers.api.kg.routes.BlackboardSystem.createKGraph',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(q),
                success: function (d) {
                    console.log(d);
                    window.location.reload();
                    //$('#new-modal').modal('hide');            
                },
                statusCode: {
                    400: function () {
                        alear ("Unable to create knowledge graph!");
                    }
                }
            });
        }
        console.log('title='+title+' term='+term);
    });
    
    var dt = $('#kg-table').on('select.dt', function (e, dt, type, indexes) {
        if (type === 'row') {
            var rows = dt.rows(indexes).data();
            console.log('rows selected: '+rows[0]['@@id']);
            $('#delete-btn').attr('data-row', rows[0]['@@id']);
            $('#warning-mesg').html('Really delete knowledge graph '+rows[0]['@@id']+'?');
        }
    });
    
    $('#kg-table').DataTable({
        dom: 'pit',
        order: [[1,'desc']],
        select: true,
        rowId: '@@id',
        ajax: {
            url: '@controllers.api.kg.routes.BlackboardSystem.listKG',
            dataSrc: ''
        },
        columnDefs: [{
            orderable: false,
            className: 'select-checkbox',
            targets: 0,
            data: null,
            defaultContent: ''
        },{
            visible: false,
            targets: 1,
            data: 'created'
        },{
            targets: 3,
            render: function (data,type,full,meta) {
                var d = new Date(data);
                return d.getFullYear()+"-"+(d.getMonth()+1)+"-"+d.getDate();
            }
        },{
            targets: 4,
            render: function (data, type, full, meta) {
                var url = '@controllers.routes.BlackboardApp.kgraph("")'+full['@@id'];
                return '<a href="'+url+'">'+data+'</a>';
            }
        }],
        columns: [
            null,
            { visible: false },
            { data: '@@id' },
            { data: 'created'},
            { data: 'name' },
            { data: 'nodeCount' },
            { data: 'edgeCount'}
        ],
        select: {
            style: 'single',
            selector: 'td:first-child'
        }
    });
});
}
