@import blackboard.KGraph

@(kg: KGraph)

@main("Knowledge Graph: "+kg.getName){
<div class="container-fluid">
  <div class="page-header">
    <h1>@kg.getName</h1>
  </div>
  <div class="row" style="margin-top:5px;">
    <div class="col-md-8"> <!-- content panel -->
      <div class="panel panel-primary bbgraph">
	<div class="panel-body">
	  <div id="kgraph"></div>
	</div>
      </div>
    </div>
    <div class="col-md-4"> <!-- left panel -->
      <div class="panel panel-info bbquery">
	<div class="panel-heading">
	  <h1 class="panel-title">Controller</h1>
	</div>
	<div class="panel-body">
	  
	</div>
      </div>
    </div>
  </div>
</div>    
}{
$(document).ready(function() {
   $('[data-toggle="tooltip"]').tooltip();	
});
}
