@import _root_.blackboard.KGraph
@import play.twirl.api.HtmlFormat
@import controllers.BlackboardApp

@(app: BlackboardApp, kg: KGraph)

@views.html.ui.main("Knowledge Graph: "+kg.getName){
<nav class="navbar fixed-top navbar-expand-lg navbar-ligh bg-light">
  <a class="navbar-brand" href="@controllers.routes.BlackboardApp.index">
    BLACKBOARD</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://spotlite.nih.gov/ncats/blackboard">Code</a></li>
      <li class="nav-item active">
        <a class="nav-link pull-right" id="btn-ks"
           data-target="#controller-modal" href="#" data-toggle="modal">
          Knowledge Source <i class="fa fa-sitemap"></i></a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">  
  <div class="jumbotron" style="margin-top:70px;">
    <h1 class="display-4">@kg.getName</h1>
    <p class="lead">This is currently the state of the knowledge graph for the query
      <code>@kg.getName</code>. As you explore the knowledge graph
      interactively, you can select nodes as knowledge seeds to further
      expand on the knowledge graph. To do this, simply click on any node
      in the graph; detailed information on each selected node is displayed
      in the right panel. Next, select one or more
      <a href="#"  data-target="#controller-modal"
         data-toggle="modal">knowledge sources</a> to expand on.
  </div>
  <div class="row" style="margin-top:5px;">
    <div class="col-md-8"> <!-- content panel -->
      <div class="panel panel-primary">
        <div class="panel-body">
          <div id="kgraph"></div>
        </div>
      </div>
    </div>
    <div class="col-md-4"> <!-- left panel -->
      <div class="panel panel-info bbquery">
        <div id="selection-panel" class="panel-body">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="controller-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Knowledge Sources</h4>        
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="panel-ks" style="overflow-y:auto;"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"
                data-dismiss="modal">Close</button>
        <button type="button"
                class="btn btn-primary" id="ks-apply">Apply</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="warning-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Warning: <span id="warning-mesg"></span></h4>
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"
                data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
}{
<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/blackboard.css")'>
<script type='text/javascript' src='@routes.Assets.versioned("javascripts/blackboard.js")'></script>
}{
function kshtml (data) {
    console.log('rendering '+data);
    var html = '<div class="panel panel-default">'+
        '<div class="panel-heading">'+
        ' <h1 class="panel-title"><a href="'+data.uri+'">'+data.id+'</a>'+
        ' <span class="pull-right">'+
        '   <input type="checkbox" name="'+data.id+'"></span>'+
        '</div>'+
        '<div class="panel-body">'+
        ' <div class="table-responsive">'+
        '  <table class="table table-condensed">';
    for (var f in data) {
        html += '  <tr><td><b>'+f+'</b></td><td>';
        val = ''+data[f];
        if (f === 'uri' || val.startsWith('http://') || val.startsWith('https://')) {
            html += '<a href="'+val+'" target="'+f+'">'+val+'</a>';
        }
        else {
            html += val;
        }
        html += '</td></tr>';
    }
    html += '</table></div></div></div>';
    return html;
}

function execKS (url) {
    console.log('executing '+url);      
    $.ajax({
        method: 'PUT',
        url: url,
        error: function (xhr, status, err) {
            console.log(url+': '+stats+' '+err);
        },
        success: function (data, status, xhr) {
            console.log(url+' '+data);
        }
    });
}

$(document).ready(function() {
    $('[data-toggle="tooltip"]').tooltip();
    var url = '@controllers.api.kg.routes.BlackboardSystem.getKG(kg.getId)';
    var wsurl = '@HtmlFormat.raw(app.getWebSocketUrl(kg.getId))';
    renderKGraph('#kgraph', url+'?view=full', wsurl);
    
    $('#controller-modal').on('show.bs.modal', function () {
        $.get('@controllers.ks.routes.KnowledgeSource.index', function (data) {
            $('#panel-ks').empty();
            for (var ks in data) {
                $('#panel-ks').append(kshtml(data[ks]));
            }
        });
    });

    $('#ks-apply').on('click', function () {
        var nodes = $('div[id^="panel-n"');
        $('input:checkbox').each(function() {
            var ks = $(this).attr("name");
            console.log(ks+': '+$(this).is(':checked')+' nodes='+nodes.length);
            if ($(this).is(':checked')) {
                if (nodes.length == 0) { // do everything
                }
                else {
                    nodes.each(function () {
                        var url = '@controllers.api.kg.routes.BlackboardSystem.runKSNodeSeed(kg.getId,0,"")'+ks;
                        var nid = $(this).attr('id').substring(7); // panel-n###
                        url = url.replace('/0/', '/'+nid+'/');
                        execKS (url);
                    });
                }
            }
        });
        $('#controller-modal').modal('hide');
    });
});
}
